In [16]:
# import libraries 
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [17]:
# import dataset
df=pd.read_csv("LabTAT.csv")
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [18]:
L1=df.iloc[:,0]
L1

0      185.35
1      170.49
2      192.77
3      177.33
4      193.41
        ...
115    178.49
116    176.08
117    202.48
118    182.40
119    182.09
Name: Laboratory 1, Length: 120, dtype: float64

In [19]:
L2=df.iloc[:,1]
L2

0      165.53
1      185.91
2      194.92
3      183.00
4      169.57
        ...
115    170.66
116    183.98
117    174.54
118    197.18
119    215.17
Name: Laboratory 2, Length: 120, dtype: float64

In [20]:
L3=df.iloc[:,2]
L3

0      176.70
1      198.45
2      201.23
3      199.61
4      204.63
        ...
115    193.80
116    215.25
117    203.99
118    194.52
119    221.49
Name: Laboratory 3, Length: 120, dtype: float64

In [21]:
L4=df.iloc[:,3]
L4

0      166.13
1      160.79
2      185.18
3      176.42
4      152.60
        ...
115    172.68
116    177.64
117    170.27
118    150.87
119    162.21
Name: Laboratory 4, Length: 120, dtype: float64

In [22]:
# Normality Test
# H0: Data is normally distributed
# H1: Data is not normally distributed
print("P value of Lab_1 data",stats.shapiro(L1))
print("P value of Lab_2 data",stats.shapiro(L2))
print("P value of Lab_3 data",stats.shapiro(L3))
print("P value of Lab_4 data",stats.shapiro(L4))

P value of Lab_1 data ShapiroResult(statistic=0.9901824593544006, pvalue=0.5506953597068787)
P value of Lab_2 data ShapiroResult(statistic=0.9936322569847107, pvalue=0.8637524843215942)
P value of Lab_3 data ShapiroResult(statistic=0.9886345267295837, pvalue=0.4205053448677063)
P value of Lab_4 data ShapiroResult(statistic=0.9913753271102905, pvalue=0.6618951559066772)

In [23]:
# Hence, Normality Test of all pvalues > 0.05 ----accept Null Hypothesis (H0): Data is normally distributed

In [24]:
# Varience Test
# H0: All varience are equal
# H1: Atleast one varience is different
print("Varience:",scipy.stats.levene(L1,L2,L3,L4))

Varience: LeveneResult(statistic=2.599642500418024, pvalue=0.05161343808309816)

In [25]:
# Hence, Varience Test of pvalue > 0.05 -----accept Null Hypothesis (H0): All Varience are equal
# Both in Normality & Varience Test pvalue > 0.05----so we accept Null Hypothesis(H0)

In [26]:
# H0: there is no difference in avg TAT
# H1: there is difference in avg TAT
# here samples are more 2 so, here "One Way ANOVA Test" is applicable
# if p_value > 0.05, accept Null Hypothesis (H0)
# if P_value < 0.05, accept Alternate Hypothesis (H1)

In [27]:
# ANOVA ftest statistics
stats.f_oneway(L1,L2,L3,L4)

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [28]:
# p_value(2.11e-57) < (0.05)significance level-----Accept Alternate Hypothesis(H1)
# Hence there is significant difference in the avg TAT for all tabs